*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
:root{
    --body-bg:beige;
    --main-font-family:"Quicksand", sans-serif;
    --container-bg:rgba(66, 66, 66, 0.296);
    --border-radius:1rem;
--base-font-size:clamp(12px,calc(9px + .5vw),5vw);
}
html{
    font-size: var(--base-font-size);
}
body{
background-color: var(--body-bg);

font-family: var(--main-font-family);
    width: 100vw;
    height: 100vh;
   
}
.container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    height:100%;
  
    border-radius: var(--border-radius);
    
      padding-bottom: 0;
      justify-content: space-between;
}
dialog.add-project{
    visibility: hidden;
     width:30vw;
}
dialog.add-task{
        visibility: hidden;
     width:40vw;
}
dialog{
   
    /* height:clamp(10vh,10rem,20vh); */
    position: absolute;
    margin: auto auto;
    border-radius: var(--border-radius);
    background-color:var(--body-bg);
    border:none;
    padding:1rem 0;
}
dialog::backdrop{
background: rgba(0,0,0,0.6 );
transition: opacity 0.3s ease;
}
dialog.enter-project{
    visibility: visible;
}
dialog.enter-task{
    visibility: visible;
}
form{
    height: 100%;
}
form{
    border: none;
        display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 2rem;
}
form>div.buttons{
    align-self: flex-end;
}
form>div{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.4rem;
}
form>div.buttons{
    display: flex;
    gap:1rem;
    flex-direction: row;
    justify-content: flex-end;
}
.buttons button{
    font-size: .6rem;
    padding:.5rem;
    border-radius: .6rem;
}
form label{
    align-self: flex-start;
    font-weight: 600;
}
form label,form input,form textarea{
    display: block;
   width: 100%;
}
form textarea{
    height:5rem;
}
form input,form textarea,input{
/* height:1.4rem; */
font-size: 1rem;
padding:calc(5px + .2rem);

background-color: var(---body-bg);
border-radius: .6rem;
border-color: transparent;
background-color:  rgba(0, 24, 0, 0.083);
   
}
input:focus,input:hover,label:has(+input:hover),textarea:focus,textarea:hover{
    border-color:  rgb(0, 24, 0);
    outline:none;
    border-color: purple;
    color:purple;
}

header{
    display: flex;
padding: 1rem 2rem;
    align-items: center;
    gap:1rem;
}
footer{
    height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.1rem;
    background-color: var(--opaque-bg);
    letter-spacing: .3rem;
    font-size: .7rem;
    border-radius: 1rem;
}
footer a{
    text-decoration: none;
    color:purple;
}
main{
    flex: 1;
}
main 
button{
    background-color: rgba(255, 255, 255, 0);
  
    color:var(--font-color);
    padding:.5rem;
    border-radius: 1rem;
    font-size: .3rem;
    font-weight: 900;
}
 button:hover{
    transform: translate(0,0) scale(1.06);
    transition: all .19s ease-in-out;
    color: purple;
    border-color: purple;
}
.create-project{
    display: flex;
    gap:.8rem;
    align-items: center;
    font-size: .8rem;
}
.create-project span{
    font-size: 1.8rem;
}

main{
    display: flex;
    gap:7rem;
}
main>.navbar{
    flex:2;
    background-color: rgba(229, 229, 213, 0.279);
    padding:1rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-top: 3rem;
    align-items: flex-start;
}
.navbar .menu-image{
    position: absolute;
    left: .5rem;
    top:0
}
main>section{
    flex:8;
}
section .projects{
    display: flex;
    gap:2rem;
    align-items: flex-start;
}
section .project-card{
    min-height: 30vh;
    min-width: 20rem;
    max-width: 45vw;
    padding:2rem .5rem;    border-radius: 1rem;
    background-color: rgba(151, 151, 151, 0.139);
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    position: relative;
    flex-shrink: 0;
}
.kebab{
    position: absolute;
right: .5rem;
top:.5rem;
width:1.1rem;
height:1.1rem;
background-image: url("images/icons/kebab-vert.svg");
background-repeat: no-repeat;
background-size: cover;
  visibility: hidden;
  padding:.9rem;
}

.project-card:hover .kebab,.kebab:has(.menu-show){
    visibility: visible;
}
.kebab:hover,.kebab:has(.menu-show){
    background-color: rgba(152, 152, 152, 0.185);
    border-radius: 50%;
}
 #final-task-read{
    display: none;
}
#final-task-edit.on{
    display: flex;
}
#final-task-read.on{
    display: flex;
}
#final-task-edit{
    display: none;
}

.project-menu{
    position: absolute;
    top:1.8rem;
    right: 0;
   width:max(200px , 15rem);
    border-radius: .5rem;
    background-color: rgba(57, 57, 57, 0.936);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.836);
          padding: .5rem .2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          visibility: hidden;
        
}
.project-menu.menu-show{
    visibility: visible;
}.project-options{
    display: flex;
    flex-direction: column;
    gap:.3rem;
    width:100%;
}
.project-menu button{
    border:none;
    font-size: .8rem;
    color:beige;
    letter-spacing: .1rem;
        border-radius:none ;
        width: 100%;
        padding:.6rem 1rem;
        padding-left: 2rem;
        display: flex;
        justify-content: flex-start;
}
.project-menu button:hover{
    background-color: #6c5d8871;
    border-radius:0 ;
    transition: none;
   transform: none;
   font-weight: 1400;
}
.project-card h1{
    margin:0 auto;
    letter-spacing: .3rem;
    padding:0 2rem;
}

section .project-card:hover{
     transform: scale(1.003);
   transition: all .19s ease-in-out;
        background-color: rgba(159, 159, 159, 0.067);
        box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}
.task-list{
      padding:0 .5rem;
width:100%;
}
.task-list>*{
       padding:.3rem 1rem;
       padding-right: .2rem;
}
.task-list-button{
    display: flex;
    gap:.2rem;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: .3rem;
}
.task-list-button:hover{
       transform: translate(0,0) scale(1.02);
    transition: all .19s ease-in-out;
}.all-tasks{
           border-radius: .5rem;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap:.1rem;
        position: relative;
}
.edit-task-form{
    width:100%;
    gap:.2rem;
 padding:0;
 display: flex;
 flex-direction: row;
 height:auto;
 align-items: flex-start;
}
.edit-task-show{
    display: block;
}
.edit-task-form .inputs{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex:1;
}
.inputs button.date-shortcut{
    font-size: .7rem;
    background :rgba(45, 45, 45, 0.112);
    padding:.4rem;
    border-radius: .5rem;
}
button.date-shortcut:hover{
border-radius: .5rem;
background-color:rgba(45, 45, 45, 0.094) ;
color:black;
}
.tasks-lists input{
     font-weight: 600;
   font-size: 1rem;
background-color:transparent ;
padding: 0;
border: none;
border-radius: 0;
font-family: var(--main-font-family);
}
.tasks-lists input:hover{
    border-bottom: 2px solid purple;
    color: black;
}
.edit-task-form textarea{
      border-bottom: 2px solid purple;
      font-size: .8rem;
}
.tasks-lists{
    display: flex;
    gap:.3rem;
    align-items: center;
    display: flex;
        font-weight: 500;
        position: relative;
        justify-content: space-between;
        height:clamp(40px,2.2rem,100px);
    
}
.tasks-lists>div{
    display: flex;
    align-items: center;
    gap:.5rem;
    
}
.tasks-lists .task-title{
 font-weight: 600;
   font-size: 1rem;
  display: flex;
  align-items: center;
}
.tasks-lists span.toggle-completion{
display: flex;
align-items: center;
  position: relative;
}
.toggle-completion:hover img{
    visibility: hidden;
}
.toggle-completion::before{
content:url(images/icons/tick.svg);
}
.toggle-completion::before{
position: absolute;
top:0;
visibility: hidden;

}

.toggle-completion:hover::before{
    visibility: visible;
}
div.task-buttons{
    gap:0;
}
.task-buttons button{
    border:none;
    visibility: hidden;
}
.task-buttons button img{
    width: 20px;
    height: 20px;
}
.edit-task-form button{
       border:none;
}
#edit-details{
    display: flex;
    gap:.3rem;
    flex-direction: row;
}
#edit-task-descrip{
    height:3rem;
    width:100%;
    background-color: transparent;
}

#edit-input-task:focus{
border-bottom: 2px solid #8573a7;
color:black;
}

.delete-task:hover,.edit-task-form button:hover,.star-task:hover,.expand-task:hover{
   background-color: rgba(152, 152, 152, 0.185);
    border-radius: 50%;
}

.all-tasks{
    margin-bottom: .5rem;
}
.all-tasks:hover,.starred-list{
    background-color: rgba(147, 147, 147, 0.214);
}
.all-tasks:hover .task-buttons button,.starred-list .task-buttons button{
    visibility: visible;
}
.addTaskButton{
    font-size: 1.2rem;
    border:none;
    color:#8573a7;
}
#date-button{
    align-self: flex-start;
    font-size: .8rem;
    padding: .2rem;
    border-radius: .6rem;
    border: 1px solid transparent;
    background-color: rgba(35, 35, 35, 0.145);
    color:#8573a7;
}
#date-button.urgent{
color:maroon;
}
#date-button.mild-urgent{
color:purple;
}
input#hiddenDate{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}